* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a37b73;
}

.calc-container {
    background-color: #3F292B;
    border-radius: 15px;
    margin-bottom: 15px;
}

.calc-container div {
    margin: 8px;
    border-radius: 15px;
}
.screen {
    font-size: 80px;
    text-align: right;
    background-color: #DBBEA1;
    border: 2px solid #3F292B;
}

.buttons {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

button {
    flex: 1 0 auto;
    width: 99px;
    height: 99px;
    border-radius: 15px;
    color: white;
    background-color: #db7f67;
    border: 4px solid #3F292B;
    font-size: 24px;
}

.add, .subtract, .multiply, .divide {
    background-color: #d34f73;
}

.firstRow {
    order: 1;
}

.secondRow {
    order: 2;
}

.thirdRow {
    order: 3;
}

.fourthRow {
    order: 4;
}

.equals {
    order: 5;
}

.footer {
    font-size: 16px;
}